@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.notfound-container
{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292f47;
}
.notfound-container-content
{
    height: 60%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.notfound-container-content span 
{
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: white;
}
.notfound-container-content img 
{
    height: 70%;
}